TF_Content: >-
  #!/bin/sh


  terraform init


  TF_VAR_aws_access_key_id=${aws_access_key_id} TF_VAR_aws_secret_key_id=${aws_secret_key_id} terraform apply --auto-approve
TF_Repo:
  id: ""
  key: terraform
  title: mgdevstack/terraform
  owner: mgdevstack
TF_Branch: main
TF_Git_path: s3
lastUpdatedBy: Mayank Gaikwad
lastUpdatedOn: 2022-07-21T13:36:53.558Z
