TF_Content: |
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
  hello
TF_Repo:
  key: terraform
  title: Divyeshzb/terraform
  owner: Divyeshzb
  default_branch: main
  id: 516396665
TF_Branch: main
TF_Git_path: s3
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-10T09:31:58.379Z
